.body {
	border-radius: 15px;
	padding: 60px 60px;
	margin: 100px auto 50px auto;
	width: 40%;
	background: url("../images/background.jpg");
	/* .../ css folder s garaad zurag oruulhiin tuld ../ ashiglna*/
}

@media screen and (max-width: 1000px) {
	.body {
		margin: 30px auto 50px auto;
		width: 90%;
	}
}

h1 {
	text-align: center;
	color: rgb(44, 47, 132);
	font-family: "Roboto", sans-serif;
	font-size: 50px;
}
h1:hover {
	cursor: pointer;
	color: rgb(94, 94, 238);
}
button {
	background: rgb(62, 62, 235);
	color: white;
	/* box-shadow: 10px 5px 5px rgb(11, 11, 59); */
	font-family: "Roboto", sans-serif;
}
button:hover {
	cursor: pointer;
	color: rgb(62, 62, 235);
	background: white;
	font-family: "Roboto", sans-serif;
	font-size: bold;
}
#city {
	text-transform: capitalize;
}
#city-input {
	text-transform: capitalize;
}
